name: Deploy EfrisAPI
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: 184.94.213.244
          username: nafazplp
          password: ${{ secrets.SSH_PASSWORD }}
          port: 21098
          script: |
            cd /home/nafazplp/public_html/efrisintegration.nafacademy.com
            git pull origin main